.wrapper {
  width: 100%;
  padding-top: 120px;

}

.form-register {
  width: 100%;
  padding: 60px 12px 60px 12px;
  font-weight: 400;
  color: var(--text-color);
  box-shadow: 0 0.0625rem 8px 0 rgba(0, 0, 0, 0.5);

}
.register-header{
  margin-bottom: 30px;
}

.input-item {
  font-size: 1.6rem;
  padding: 12px 8px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  &:focus{
    border-color: var(--text-color);
  }
}
.error-item{
  margin-bottom: 16px;
  margin-top: 6px;
  color: #f53e2d;
  display: block;
}
.function{
  margin-top: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-register{
  width: 40%;
  padding: 4px;
  font-size: 1.8rem;
}