.order-item{
  display: flex;
  align-items: stretch;
  border-right: 1px solid #14AAFF;
  border-left: 1px solid #14AAFF;
  padding: 0 10px;
}
.box-image{
  width: 90px;
  height: 90px;
  margin: 5px 0;

  & img{
    width: 90px;
    height: 90px;
  }
}
.order-name{
  color: #333333;
}
.box-info{
  padding: 4px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-name{
  color: #333333;
}
.order-price{
  color: #333333;
}
.order-quantity{

}