.wrapper {
  width: 100%;
  background-color: var(--while-color);
  padding: 6px;
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.category-header {
  display: flex;
  align-items: center;
  padding: 0 4px;

}

.header-text {
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
}

.menu-icon {
  margin-right: 8px;
  line-height: 22px;
}

.divider {
  margin: 12px 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;

}
