.wrapper{
  margin-top: 40px;
  width: 100%;
}
.header{
  background-color: var(--while-color);
  padding: 6px 8px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.title{
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 400;
}
.product-content{
  width: 100%;
}