.wrapper{
    // width: 100%;
}
.user-info{
    display: flex;
    align-items: center;
    cursor: pointer;

  }
  .avatar{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .username{
    color: var(--text-color);
    font-size: 1.4rem;
    @media screen and (max-width: 1100px) {
        font-size: 1.2rem;
    
      }
      @media screen and (max-width: 900px) {
        font-size: 1.4rem;
    
      }
  }
.dropdown-user{
    background-color: var(--while-color);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 4px;
    padding: 6px 0;
  &::after{
    content: "";
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent var(--primary-color);
    position: absolute;
    top: -10px;
    right: 16px;
    @media only screen and (max-width: 500px) {
      right: 10px;


    }
  }
   
  }
  
  .dropdown-item{
    display: block;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.87);
    padding: 12px 24px;
    cursor: pointer;
    &:hover{
        color: var(--primary-color);
        background-color: #FAFAFA;
       
    }
  
  }