.wrapper {
  display: flex;
  width: 800px;
  margin: 0 auto 100px;
  background: #14AAFF;
}

.left-info {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-info img {

}

.content-info {
  width: 70%;

}

.form-add {
  width: 100%;

  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box-item {
  border: 1px solid #14AAFF;
  border-radius: 5px;
  width: 48%;
  padding: 15px 10px;
  margin: 5px 0;

  height: 50px;
}


.input-item {
  border: 1px solid #14AAFF;
  border-radius: 5px;
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0;
}

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 1px solid #14AAFF;
  padding: 8px 10px;
  border-radius: 4px;
  color: var(--while-color);
  margin-top: 20px;
  margin-bottom: 10px;
  opacity: 1;
  &:hover{
    opacity: 0.7;
  }

}
.input-item-error{
  width: 48%;
  border: 1px solid #14AAFF;
  border-radius: 5px;

  padding: 15px 10px;
  margin: 10px 0;

}
.error-text{
  color: #EE4D2D;
  font-size: 14px;
}
input:focus{
  outline: none;

}