.wrapper {
  display: block;
  background-color: var(--while-color);
  width: 100%;
  padding: 12px 12px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 /12%) 0 2px 12px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s linear;
  &:hover{
    transform: translateY(-4px);
  }
}

.box-image {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-name {
  margin-top: 12px;
  font-size: 1.6rem;
  color: var(--text-color);
  padding-top: 12px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

}

.price {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.new-price {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin-right: 6px;

}

.old-price {
  font-size: 1.4rem;
  color: rgb(128, 128, 137);
  text-decoration: line-through;
}

.product-sale {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 40px;
  text-align: center;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  border-color: transparent rgba(255, 216, 64, 0.94) transparent transparent;


  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
  }

}

.percent {
  color: #EE4D2D;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-top: 4px;
  margin-bottom: 4px;


}

.label {
  color: var(--while-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;

}
.quantity{
  font-size: 1.6rem;
  margin-top: 12px;
  color: var(--text-color);
}